@font-face {
  font-family: "InterBlack";
  font-weight: 400;
  src: url("../fonts/Inter-Black.woff2") format("woff2");
}

@font-face {
  font-family: "InterRegular";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
}
